:root {
    /* Examples */
    --darkmode-background: #242424;
    --darkmode-text: rgba(255, 255, 255, 0.87);

    --lightmode-background: #f4f4f4;
    --lightmode-text: #3333;
    /* /Examples */

    /* customized css variables */
    --balloon-vs-monkey: url('/images/background/Balloon vs monkey.svg');

    --start-h1-gradient: linear-gradient(to right, rgb(51, 255, 0), rgb(20, 245, 215), rgb(176, 248, 9),rgb(36, 247, 117));
    --start-h1-shadow: 3px 3px 5px rgba(233, 152, 46, 0.425);
    
    --start-p-shadow: 3px 3px 5px rgb(92, 11, 5), 5px 5px 10px rgba(77, 92, 13, 0.863);
    --start-p-color: rgb(238, 121, 67);

    
}

/* Customize dowloaded fonts */
@font-face {
    font-family: 'YangBagus';
    src: url(/fonts/YangBagus-DYMX9.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YangBagusP';
    src: url(/fonts/YangBagus-pgq61.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Background for /start page */
.startBG {
    background: var(--balloon-vs-monkey);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Background for /game page */
.gameBG {
    background: #f2f2f2;
}