.GunnerPos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  left: -45px;
  top: -50px;
  border-radius: 50%;
  width: 125px;
  height: 130px;
  position: absolute;
  background-color: #00caca54;
}

.Gunner {
  height: 48px;
}

.Bomber {
  height: 48px;
}
