.gameContainer {
  background-color: black;
  height: 100vh;
}
.playerStatus {
  width: fit-content;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
