.container {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.box {
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3rem 0;
}

.box button {
    width: 15rem;
    font-size: 1.4rem;
    font-weight: 600;

}