.tower {
  position: absolute;
  background-color: #00751000;
  z-index: 1;
  width: 32px;
  height: 16px;
  border-radius: 50%;
  outline-color: rgb(17, 0, 255);
  outline-style: dotted;
  animation-delay: 0s;
  animation: saver 1s infinite alternate;
}

@keyframes saver {
  0% {
    outline-offset: -6px;
  }
}
