.container {
  position: absolute;
  left: var(--left);
  top: var(--top);
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  cursor: default;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.relocateButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upgradeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.moveIcon {
  filter: var(--move-icon-filter, brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(1000%) hue-rotate(185deg) brightness(2.5) contrast(100%));
}

.upgradeIcon {
  filter: var(--upgrade-icon-filter, brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(700%) hue-rotate(100deg) contrast(100%));
}

.relocateButton:hover,
.upgradeButton:hover {
  background-color: orange;
}

.relocateButton:focus,
.upgradeButton:focus {
  outline: 2px solid rgba(255, 208, 0, 0.144);
}