#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.gFrame {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'header header header'
  'main main main'
  'foot foot foot'
  ;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  grid-area: header;
  /* background-color: antiquewhite; */
}
main {
  grid-area: main;
  /* background-color: aliceblue; */
}
footer {
  grid-area: foot;
  /* background-color: aquamarine; */
}
